
source-code/Mod Manager/Stardew Mod Manager/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
source-code/Mod Manager/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.AssemblyReference.cache
source-code/Mod Manager/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.GenerateResource.cache
source-code/Mod Manager/Stardew Mod Manager/obj/Release/Stardew Mod Manager.exe
source-code/Mod Manager/Stardew Mod Manager/obj/Release/Stardew Mod Manager.pdb
source-code/Mod Manager/Stardew Mod Manager/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
source-code/Mod Manager/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.AssemblyReference.cache
source-code/Mod Manager/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.GenerateResource.cache
source-code/Mod Manager/Stardew Mod Manager/obj/Release/Stardew Mod Manager.exe
source-code/Mod Manager/Stardew Mod Manager/obj/Release/Stardew Mod Manager.pdb
source-code/Mod Manager/Stardew Mod Manager/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
source-code/Mod Manager/Stardew Mod Manager/obj/Release/Stardew Mod Manager.pdb
source-code/Mod Manager/Stardew Mod Manager/obj/Release/Stardew Mod Manager.exe
source-code/Mod Manager/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.GenerateResource.cache
source-code/Mod Manager/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.AssemblyReference.cache
source-code/Mod Manager/Stardew Mod Manager/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/DesignTimeResolveAssemblyReferences.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Interop.IWshRuntimeLibrary.dll
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.AssemblyReference.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.CoreCompileInputs.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.FileListAbsolute.txt
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.GenerateResource.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.ResolveComReference.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.SuggestedBindingRedirects.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.exe
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.pdb
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew_Mod_Manager.Forms.First_Run.UpdateVersion.resources
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew_Mod_Manager.Properties.Resources.resources
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/DesignTimeResolveAssemblyReferences.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Interop.IWshRuntimeLibrary.dll
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.AssemblyReference.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.CoreCompileInputs.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.FileListAbsolute.txt
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.GenerateResource.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.ResolveComReference.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.exe
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.pdb
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew_Mod_Manager.Properties.Resources.resources
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/bin/Release/Stardew Mod Manager.pdb
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/DesignTimeResolveAssemblyReferences.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Interop.IWshRuntimeLibrary.dll
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.AssemblyReference.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.CoreCompileInputs.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.FileListAbsolute.txt
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.GenerateResource.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.csproj.ResolveComReference.cache
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.exe
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew Mod Manager.pdb
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/Stardew_Mod_Manager.Properties.Resources.resources
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
*.vsidx
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/Properties/Telemetry.Designer.cs
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/Properties/Telemetry.settings
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/App.config
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/App.config
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/App.config
source-code/Mod Manager (Facelift Development)/Stardew Mod Manager/App.config
