<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Stardew_Mod_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Stardew_Mod_Manager.Properties.Settings>
            <setting name="StardewDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="ModsDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="InactiveModsDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="SetupComplete" serializeAs="String">
                <value>FALSE</value>
            </setting>
            <setting name="PresetsDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="SMAPI_UpdateURL" serializeAs="String">
                <value/>
            </setting>
            <setting name="SMAPI_UpdateVersion" serializeAs="String">
                <value/>
            </setting>
            <setting name="CheckSMAPIUpdateOnStartup" serializeAs="String">
                <value>FALSE</value>
            </setting>
            <setting name="SMAPI_InstalledVersion" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsNetworkConnected" serializeAs="String">
                <value/>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>220802</value>
            </setting>
            <setting name="CheckUpdateOnStartup" serializeAs="String">
                <value>TRUE</value>
            </setting>
            <setting name="CancelDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUpdateModInactive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsManuallyReset" serializeAs="String">
                <value>FALSE</value>
            </setting>
            <setting name="TMP_ModSafeName" serializeAs="String">
                <value/>
            </setting>
            <setting name="LaunchArguments" serializeAs="String">
                <value/>
            </setting>
            <setting name="ColorProfile" serializeAs="String">
                <value>PINK</value>
            </setting>
        </Stardew_Mod_Manager.Properties.Settings>
    </userSettings>
</configuration>
